* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0 auto;
    background-image: url(4bfda4340076504834e638552fa4a113.png);
    max-width: 2560px;
}
.calculator-body {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    grid-template-columns: repeat(4, 114px);
    grid-template-rows: minmax(120px, auto) repeat(5, 89.35px);
}
.calculator-body button {
    cursor: pointer;
    font-size: 30px;
    border: 1px solid white;
    outline: none;
}
.all-clear, .equals{
    background-color: rgba(196,238,208,255);
}
.equals {
    grid-column: span 2;
}
.all-clear:hover {
    border-radius: 15%;
    transition: all 0.5s;
}
.equals:hover {
    border-radius: 15%;
    transition: all 0.5s;
}
.operation, .delete {
    background-color: rgba(90,179,240,255);
}
.delete:hover {
    border-radius: 15%;
    transition: all 0.5s;
}
.operation:hover {
    border-radius: 15%;
    transition: all 0.5s;
}
.number {
    background-color: #282a2d;
    color: white;
}
.number:hover {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10%;
    transition: all 0.5s;
}
.screen {
    grid-column: 1 / -1;
    background-color: rgba(105,105,105,1);
    display: flex;
    height: 200px;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
.screen .previous-calc {
    color: rgba(255, 255, 255, .85);
    font-size: 25px;
}
.screen .current-calc {
    color: white;
    font-size: 70px;
}
